$color_white: #fff;
$color_white2: #f2f2f2;
$color_lightgray: #838383;
$color_darkgray: #353534;
$color_darkgray2: #323232;
$color_brown: #201b19;
$color_yellow: rgb(255, 243, 0);
$color_orange: #e13c12;
$color_orange2: #e92f03;
$color_black: #000000;
$background_gradient: repeating-linear-gradient(30deg, $color_yellow 0px, rgb(255, 205, 0) 80px);
$font-family_1: "Montserrat", sans-serif;
body {
  font-family: &$font-family_1;
  margin: 0;
}
.header {
  position: fixed;

  font-family: $font-family_1;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.5s;
  z-index: 10;
  padding: 15px 0;
  //   background-color: $color_yellow;
  background: $background_gradient;

  background-size: auto;
  background-size: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  min-height: 50px;

  &__logo {
    flex: 1;
  }
  gap: 20px;
}
@media (max-width: 900px) {
  .header {
    // background-color: pink;
    flex-direction: column;
  }
}
.navbar {
  padding: 0;
  white-space: nowrap;

  &__ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    // align-items: center;
    // background-color: $color_yellow;
  }
  li {
    position: relative;
    max-width: 100px;

    &:hover {
      > a {
        color: $color_orange;
      }
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    padding: 10px 0 10px 30px;
    color: $color_darkgray;

    transition: 0.3s;
    &:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-size: 15px;
      font-weight: 600;
      color: $color_orange;
      white-space: nowrap;
      transition: 0.3s;
    }
  }
  //   .active {
  //     color: green;
  //     &:focus {
  //       color: green;
  //     }
  //   }
}

.estimate-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-decoration: none;

  color: $color_darkgray;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid $color_orange;
  background-color: $color_orange2;
  &:hover {
    background: $color_yellow;
    color: $color_brown;
  }
}
@media (max-width: 200px) {
  .get-started-btn {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}
.section1 {
  overflow: hidden;
  font-family: $font-family_1;
  background: $background_gradient;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75vh;
  //   width: 100vw;
  padding: 20vh 15vw 0vh 15vw;

  &__titlegrid {
    // margin: 19vh 0vw 0vh 15vw;
    // width: 100vw;
    max-width: 750px;
    // min-height: 500px;
    // max-height: 700px;
    // align-items: stretch;
    // justify-items: stretch;
    display: flex;
    flex-direction: column;
    // border: solid red 2px;
    margin: 0;

    &--h1 {
      display: flex;
      font-size: 60px;
      font-weight: 700;
      line-height: 75px;
      letter-spacing: -3px;
      text-align: left;
      margin: 0;
      // text-transform: capitalize;
      color: $color_darkgray2;
      //   max-height: 225px;
      width: 750px;
    }
    &--h2 {
      margin-top: 20vw;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color_darkgray2;
    }
  }
  &__logogrid {
    align-self: flex-start;
    justify-self: flex-end;
    // width: 1000px;
    display: flex;
    max-width: 265px;
    max-height: 265px;
    &__logo {
      // margin: 19vh 5vw 0vh 15vw;

      background: $color_yellow;
      align-items: center;
      min-height: 200px;
      min-width: 200px;
      max-height: 200px;
      max-width: 200px;
      height: 20vw;
      width: 20vw;
      display: flex;
      font-size: 55px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: -5px;
      text-align: center;
      margin: 0px 20px;
      padding-left: 1fr;
      text-transform: capitalize;
      color: black;
    }
  }
}
@media (max-width: 1200px) {
  .section1 {
    // background: pink;
    flex-direction: column;
    height: auto;
    justify-content: center;

    &__titlegrid {
      margin: auto 0 0 0;
      justify-content: center;
      align-items: center;
      &--h1 {
        // font-size: 10vw;
        line-height: 60px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: auto;
      }
    }
    &__logogrid {
      margin: 0 auto;
      //   justify-self: center;
      //   &__logo {
      //     justify-self: center;
      //   }
    }
  }
}
.gridframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.maingrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  grid-template-rows: 50%;
  gap: 0px 0.36%;
  grid-template-areas: ". . . . . . . . . . . .";
  justify-content: start;
  align-content: start;
  justify-items: center;
  align-items: start;
  min-height: 100px;
  min-width: 75vw;
  border: solid black 1px;
  color: red;
  max-width: 1130px;
}
